In [111]:
import pandas as pd

In [112]:
dfa = pd.read_csv("celeb_data.csv")
pd.set_option('display.max_rows', 100)  #
pd.set_option('display.max_columns', 100)

In [113]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           100 non-null    int64
 1   Name           100 non-null    object
 2   Date_of_birth  100 non-null    object
 3   height         96 non-null     object
 4   Role           100 non-null    object
 5   Awards         98 non-null     object
 6   Famous_for     100 non-null    object
 7   Birth_place    98 non-null     object
dtypes: int64(1), object(7)
memory usage: 6.4+ KB


*   Há espaços vazios nas colunas "height", "awards" e "birth place".

INICIANDO O TRATAMENTO DOS DADOS

In [91]:

dfa['Date_of_birth'] = pd.to_datetime(dfa['Date_of_birth'])
dfa['Birth_year'] = dfa['Date_of_birth'].dt.year

*   Transformando a coluna 'Date_of_birth' para um tipo de dado "datetime AAAA-MM-DD" para poder tirar o ano de nascimento de cada ator.

In [92]:

dfa.loc[24, "Birth_place"] = "Londres, Reino Unido" #Kingsley Ben-Adir
dfa.loc[75, "Birth_place"] = "Dallas, Texas, USA" #Miss Benny

dfa.loc[75, "height"] = '''5' 8"(1.73 m)'''#Miss Benny
dfa.loc[77, "height"] = '''5' 11"(1.80 m)'''#Christopher McQuarrie
dfa.loc[79, "height"] = '''5' 6"(1.73 m)'''#Ayo Edebiri

#dfa.loc[dfa["Awards"].isnull(), "Awards"] = 0




*   Atualizando alguns valores "NaN" do dataset.

In [93]:

dfa['height_meters'] = dfa['height'].str.extract(r'(\d+\.\d+) m')
dfa['height_meters'] = dfa['height_meters'].astype(float)


#5′ 8″ (1.73 m)



*   Tirando o valor de metros da coluna"height", transformando-os em um tipo float e jogando em uma nova tabela "height_meters".

In [95]:
dfa.loc[dfa["height"].isnull(), "height"] = 0
dfa.loc[dfa["height_meters"].isnull(), "height_meters"] = 0




*   Zerando alguns valores "NaN" do dataset.

In [98]:
dfa['Awards'] = dfa['Awards'].str.replace('(\d+ m)', '0')

<ipython-input-98-978c25a1c1b3>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dfa['Awards'] = dfa['Awards'].str.replace('(\d+ m)', '0')



*   Zerando as linhas com dados errados(63 m) que estão presentes na coluna "Awards" usando o replace para encontrar os valores que correspondem ao padrão (\d+ m) e substitui-los por zero.

In [102]:
dfa.loc[dfa["Awards"].isnull(), "Awards"] = 0



*   Zerando todos os "NaN" da coluna "Awards".

In [100]:
dfa['Awards'] = dfa['Awards'].astype(str)

dfa['Wins'] = dfa['Awards'].str.extract('(\d+) win')

dfa['Wins'] = dfa['Wins'].fillna(0)

dfa['Wins'] = dfa['Wins'].astype(int)



*   Extraindo o número de vitórias e adicionando uma coluna "Wins".

*   Preenchendo com 0 os valores nulos.

*   Convertendo para o tipo int.

In [101]:

dfa['Awards'] = dfa['Awards'].astype(str)

dfa['Nominations'] = dfa['Awards'].str.extract('(\d+) nomination')

dfa['Nominations'] = dfa['Nominations'].fillna(0)

dfa['Nominations'] = dfa['Nominations'].astype(int)



* Extraindo o número de nomeações e adicionando em uma coluna "Nominations".

* Preenchendo com 0 os valores nulos.

* Convertendo para um tipo int.

In [103]:
dfa['Country_Birth'] = dfa['Birth_place'].str.split(',').str[-1].str.strip()



*   Retirando apenas o país de nascimento e preenchendo em uma nova tabela "Country_Birth".

In [104]:
display(dfa[dfa.isnull().any(axis=1)])

Empty DataFrame
Columns: [Rank, Name, Date_of_birth, height, Role, Awards, Famous_for, Birth_place, Birth_year, height_meters, Wins, Nominations, Country_Birth]
Index: []



*   Vendo se tem algum outro valor "NaN".

In [105]:
dfa.shape

(100, 13)

In [107]:
display(dfa)

,Rank,Name,Date_of_birth,height,Role,Awards,Famous_for,Birth_place,Birth_year,height_meters,Wins,Nominations,Country_Birth
0,1,Anya Chalotra,1995-07-21,5′ 6″ (1.68 m),['Actress'],1 win,The Witcher,"Wolverhampton, Staffordshire, England, UK",1995,1.68,1,0,UK
1,2,Hayley Atwell,1982-04-05,5′ 6½″ (1.69 m),"['Actress', 'Soundtrack']",15 nominations,Captain America: The First Avenger,"London, England, UK",1982,1.69,0,15,UK
2,3,Rebecca Ferguson,1983-10-19,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",9 wins,The Greatest Showman,Sweden,1983,1.65,9,0,Sweden
3,4,Vanessa Kirby,1988-04-18,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 43 nominations total",The Crown,"London, England, UK",1988,1.70,5,43,UK
4,5,Tom Cruise,1962-07-03,5′ 7″ (1.70 m),"['Actor', 'Director', 'Producer']","59 wins , 108 nominations total",Top Gun,"Syracuse, New York, USA",1962,1.70,59,108,USA
5,6,Freya Allan,2001-09-06,5′ 5″ (1.65 m),['Actress'],1 nomination,Kingdom of the Planet of the Apes,"Oxford, Oxfordshire, England, UK",2001,1.65,0,1,UK
6,7,Pom Klementieff,1986-05-03,5′ 7″ (1.70 m),"['Actress', 'Writer']",1 win,Guardians of the Galaxy Vol. 2,"Quebec City, Quebec, Canada",1986,1.70,1,0,Canada
7,8,Ellen Barkin,1954-04-16,5′ 6″ (1.68 m),"['Actress', 'Producer']","4 wins , 10 nominations total",The Fan,"The Bronx, New York City, New York, USA",1954,1.68,4,10,USA
8,9,Florence Pugh,1996-01-03,5′ 3¾″ (1.62 m),"['Actress', 'Soundtrack', 'Producer']","38 wins , 95 nominations total",The Falling,"Oxford, Oxfordshire, England, UK",1996,1.62,38,95,UK
9,10,Nina Dobrev,1989-01-09,5′ 7″ (1.70 m),"['Actress', 'Director', 'Producer']",14 wins,The Perks of Being a Wallflower,"Sofia, Bulgaria",1989,1.70,14,0,Bulgaria
10,11,Cillian Murphy,1976-05-25,5′ 7¾″ (1.72 m),"['Actor', 'Producer', 'Writer']","10 wins , 46 nominations total",28 Days Later,"Douglas, Cork, Ireland",1976,1.72,10,46,Ireland
11,12,Henry Cavill,1983-05-05,6′ 1″ (1.85 m),"['Actor', 'Producer', 'Additional Crew']",3 wins,Man of Steel,"Jersey, Channel Islands",1983,1.85,3,0,Channel Islands
12,13,Margot Robbie,1990-07-02,5′ 6″ (1.68 m),"['Actress', 'Producer', 'Executive']","23 wins , 133 nominations total",Suicide Squad,"Dalby, Queensland, Australia",1990,1.68,23,133,Australia
13,14,Jim Caviezel,1968-09-26,6′ 2″ (1.88 m),"['Actor', 'Producer']",5 wins,The Passion of the Christ,"Mount Vernon, Washington, USA",1968,1.88,5,0,USA
14,15,Christopher Nolan,1970-07-30,5′ 11¼″ (1.81 m),"['Director', 'Producer', 'Writer']","145 wins , 237 nominations total",Tenet,"London, England, UK",1970,1.81,145,237,UK
15,16,Ariana Greenblatt,2007-08-27,0,['Actress'],1 nomination,Barbie,"New York, USA",2007,0.00,0,1,USA
16,17,Becki Newton,1978-07-04,5′ 3″ (1.60 m),"['Actress', 'Soundtrack']",4 nominations,Ugly Betty,"New Haven, Connecticut, USA",1978,1.60,0,4,USA
17,18,Timothée Chalamet,1995-12-27,5′ 10″ (1.78 m),"['Actor', 'Soundtrack', 'Producer']","39 wins , 93 nominations total",Call Me by Your Name,"New York City, New York, USA",1995,1.78,39,93,USA
18,19,Lana Parrilla,1977-07-15,5′ 6″ (1.68 m),"['Actress', 'Director', 'Producer']",5 wins,Once Upon a Time,"Brooklyn, New York City, New York, USA",1977,1.68,5,0,USA
19,20,Phoebe Waller-Bridge,1985-07-14,5′ 9¾″ (1.77 m),"['Actress', 'Producer', 'Writer']","33 wins , 37 nominations total",Solo: A Star Wars Story,"London, England, UK",1985,1.77,33,37,UK
20,21,Will Poulter,1993-01-28,6′ 3¼″ (1.91 m),"['Actor', 'Producer', 'Writer']","5 wins , 23 nominations total",We're the Millers,"England, UK",1993,1.91,5,23,UK
21,22,Harrison Ford,1942-07-13,6′ 1″ (1.85 m),"['Actor', 'Producer', 'Writer']","45 wins , 46 nominations total",Raiders of the Lost Ark,"Chicago, Illinois, USA",1942,1.85,45,46,USA
22,23,Isabela Merced,2001-07-10,5′ 1″ (1.55 m),"['Actress', 'Soundtrack', 'Music Department']",5 wins,Transformers: The Last Knight,"Cleveland, Ohio, USA",2001,1.55,5,0,USA
23,24,Jeremy Allen White,1991-02-17,5′ 7″ (1.70 m),"['Actor', 'Producer', 'Writer']","3 wins , 12 nominations total",Shameless,"Brooklyn, New York, USA",1991,1.70,3,12,USA
24,25,Kingsley Ben-Adir,1986-11-20,5′ 7½″ (1.71 m),['Actor'],"10 wins , 14 nominations total",The OA,"Londres, Reino Unido",1986,1.71,10,14,Reino Unido
25,26,Mia Kirshner,1975-01-25,5′ 3″ (1.60 m),['Actress'],3 nominations,Not Another Teen Movie,"Toronto, Ontario, Canada",1975,1.60,0,3,Canada
26,27,Greta Gerwig,1983-08-04,5′ 9″ (1.75 m),"['Actress', 'Director', 'Writer']","68 wins , 196 nominations total",Lady Bird,"Sacramento, California, USA",1983,1.75,68,196,USA
27,28,Abbie Cornish,1982-08-07,5′ 8″ (1.73 m),"['Actress', 'Producer']",14 wins,Bright Star,"Lochinvar, New South Wales, Australia",1982,1.73,14,0,Australia
28,29,Molly Gordon,1994-12-06,5′ 4″ (1.63 m),"['Actress', 'Producer', 'Writer']",1 win,Booksmart,"Los Angeles, California, USA",1994,1.63,1,0,USA
29,30,Lauren Lapkus,1985-09-06,5′ 10″ (1.78 m),"['Actress', 'Writer', 'Music Department']","2 wins , 3 nominations total",The Wrong Missy,"Chicago, Illinois, USA",1985,1.78,2,3,USA
30,31,Gabriel Macht,1972-01-22,6′ (1.83 m),"['Actor', 'Director', 'Producer']",1 win,The Good Shepherd,"The Bronx, New York City, New York, USA",1972,1.83,1,0,USA
31,32,Jennifer Lawrence,1990-08-15,5′ 9″ (1.75 m),"['Actress', 'Producer', 'Writer']","120 wins , 192 nominations total",The Hunger Games,"Louisville, Kentucky, USA",1990,1.75,120,192,USA
32,33,Brad Pitt,1963-12-18,5′ 11″ (1.80 m),"['Actor', 'Producer', 'Executive']","119 wins , 223 nominations total",Mr. &amp; Mrs. Smith,"Shawnee, Oklahoma, USA",1963,1.80,119,223,USA
33,34,Liz Katz,1988-07-08,5′ (1.52 m),"['Actress', 'Director', 'Writer']",0,Guest House,"Randolph, New Jersey, USA",1988,1.52,0,0,USA
34,35,Emily Blunt,1983-02-23,5′ 7″ (1.70 m),"['Actress', 'Producer', 'Additional Crew']","22 wins , 111 nominations total",Edge of Tomorrow,"Roehampton, London, England, UK",1983,1.70,22,111,UK
35,36,Poorna Jagannathan,1972-12-22,5′ 6½″ (1.69 m),['Actress'],1 win,The Night Of,"Tunis, Tunisia",1972,1.69,1,0,Tunisia
36,37,Angus Sampson,1979-02-12,6′ 3″ (1.91 m),"['Actor', 'Director', 'Writer']",7 nominations,The Lincoln Lawyer,Australia,1979,1.91,0,7,Australia
37,38,Ridley Scott,1937-11-30,5′ 8½″ (1.74 m),"['Director', 'Producer', 'Production Designer']","51 wins , 101 nominations total",The Martian,"South Shields, County Durham, England, UK",1937,1.74,51,101,UK
38,39,Adam Devine,1983-11-07,5′ 8″ (1.73 m),"['Actor', 'Producer', 'Writer']",3 wins,Pitch Perfect,"Waterloo, Iowa, USA",1983,1.73,3,0,USA
39,40,Christina Chong,1983-09-18,5′ 4″ (1.63 m),"['Actress', 'Director', 'Writer']",0,Johnny English Reborn,"Enfield, North London, England, UK",1983,1.63,0,0,UK
40,41,Manuel Garcia-Rulfo,1981-02-25,6′ 2½″ (1.89 m),"['Actor', 'Producer']",2 nominations,The Magnificent Seven,"Guadalajara, Jalisco, Mexico",1981,1.89,0,2,Mexico
41,42,Jess Bush,1992-03-26,5′ 10″ (1.78 m),['Actress'],1 nomination,Star Trek: Strange New Worlds,"Brisbane, Queensland",1992,1.78,0,1,Queensland
42,43,Rachel Brosnahan,1990-07-12,5′ 3″ (1.60 m),"['Actress', 'Producer', 'Executive']","14 wins , 30 nominations total",House of Cards,"Milwaukee, Wisconsin, USA",1990,1.60,14,30,USA
43,44,Karen Gillan,1987-11-28,5′ 10¾″ (1.80 m),"['Actress', 'Director', 'Writer']",8 wins,Selfie,"Inverness, Scotland, UK",1987,1.80,8,0,UK
44,45,Pierce Brosnan,1953-05-16,6′ 1¼″ (1.86 m),"['Actor', 'Producer', 'Executive']",21 wins,The World Is Not Enough,"Drogheda, County Louth, Ireland",1953,1.86,21,0,Ireland
45,46,Neve Campbell,1973-10-03,5′ 7″ (1.70 m),"['Actress', 'Producer', 'Writer']",7 wins,Scream,"Guelph, Ontario, Canada",1973,1.70,7,0,Canada
46,47,Golshifteh Farahani,1983-07-10,5′ 6½″ (1.69 m),"['Actress', 'Composer', 'Camera and Electrical...",5 wins,Paterson,"Tehran, Iran",1983,1.69,5,0,Iran
47,48,Ryan Gosling,1980-11-12,6′ 0½″ (1.84 m),"['Actor', 'Director', 'Producer']","35 wins , 159 nominations total",Blue Valentine,"London, Ontario, Canada",1980,1.84,35,159,Canada
48,49,Tom Holland,1996-06-01,5′ 6½″ (1.69 m),"['Actor', 'Director', 'Producer']","25 wins , 35 nominations total",Spider-Man: Homecoming,"Kingston upon Thames, England, UK",1996,1.69,25,35,UK
49,50,Wes Anderson,1969-05-01,6′ 1″ (1.85 m),"['Director', 'Producer', 'Writer']","79 wins , 201 nominations total",Fantastic Mr. Fox,"Houston, Texas, USA",1969,1.85,79,201,USA
50,51,Karen Allen,1951-10-05,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Director']",12 wins,Raiders of the Lost Ark,"Carrollton, Illinois, USA",1951,1.65,12,0,USA
51,52,Ebon Moss-Bachrach,1977-03-19,6′ 1″ (1.85 m),"['Actor', 'Soundtrack']","1 win , 6 nominations total",Girls,"New York, New York, USA",1977,1.85,1,6,USA
52,53,Leonardo DiCaprio,1974-11-11,6′ (1.83 m),"['Actor', 'Producer', 'Writer']","102 wins , 262 nominations total",Inception,"Hollywood, Los Angeles, California, USA",1974,1.83,102,262,USA
53,54,Mel Gibson,1956-01-03,5′ 9¾″ (1.77 m),"['Actor', 'Director', 'Producer']","44 wins , 43 nominations total",Braveheart,"Peekskill, New York, USA",1956,1.77,44,43,USA
54,55,Hannah Waddingham,1974-07-28,5′ 10¾″ (1.80 m),"['Actress', 'Soundtrack', 'Producer']","12 wins , 16 nominations total",Ted Lasso,"London, England, UK",1974,1.80,12,16,UK
55,56,Michelle Monaghan,1976-03-23,5′ 7″ (1.70 m),"['Actress', 'Producer']",3 wins,Gone Baby Gone,"Winthrop, Iowa, USA",1976,1.70,3,0,USA
56,57,Sarah Rafferty,1972-12-06,5′ 9″ (1.75 m),"['Actress', 'Soundtrack', 'Producer']",0,Suits,"New Canaan, Connecticut, USA",1972,1.75,0,0,USA
57,58,Emilia Clarke,1986-10-23,5′ 2″ (1.57 m),"['Actress', 'Soundtrack', 'Producer']","8 wins , 48 nominations total",Game of Thrones,"London, England, UK",1986,1.57,8,48,UK
58,59,Jenna Ortega,2002-09-27,5′ 1″ (1.55 m),"['Actress', 'Soundtrack', 'Producer']","5 wins , 18 nominations total",Scream,"Coachella Valley, California, USA",2002,1.55,5,18,USA
59,60,Josh Hartnett,1978-07-21,6′ 3″ (1.91 m),"['Actor', 'Producer']",3 wins,Lucky Number Slevin,"St. Paul, Minnesota, USA",1978,1.91,3,0,USA
60,61,Tom Hanks,1956-07-09,6′ (1.83 m),"['Actor', 'Producer', 'Writer']","93 wins , 209 nominations total",Cast Away,"Concord, California, USA",1956,1.83,93,209,USA
61,62,Alexandra Daddario,1986-03-16,5′ 8″ (1.73 m),"['Actress', 'Soundtrack', 'Producer']","2 wins , 8 nominations total",Baywatch,"New York City, New York, USA",1986,1.73,2,8,USA
62,63,Joey King,1999-07-30,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']","6 wins , 21 nominations total",The Act,"Los Angeles, California, USA",1999,1.63,6,21,USA
63,64,Ana de Armas,1988-04-30,5′ 6¼″ (1.68 m),"['Actress', 'Producer']","11 wins , 34 nominations total",Blade Runner 2049,"Havana, Cuba",1988,1.68,11,34,Cuba
64,65,Nicolas Cage,1964-01-07,6′ (1.83 m),"['Actor', 'Director', 'Producer']","61 wins , 106 nominations total",Face/Off,"Long Beach, California, USA",1964,1.83,61,106,USA
65,66,Joaquin Phoenix,1974-10-28,5′ 8″ (1.73 m),"['Actor', 'Director', 'Producer']","70 wins , 187 nominations total",Walk the Line,"San Juan, Puerto Rico",1974,1.73,70,187,Puerto Rico
66,67,MyAnna Buring,1979-09-22,5′ 2″ (1.57 m),"['Actress', 'Writer']",1 win,Kill List,"Sundsvall, Västernorrlands län, Sweden",1979,1.57,1,0,Sweden
67,68,Meghan Markle,1981-08-04,5′ 6″ (1.68 m),"['Actress', 'Producer', 'Writer']",1 win,Remember Me,"Los Angeles, California, USA",1981,1.68,1,0,USA
68,69,Rick Hoffman,1970-06-12,5′ 9½″ (1.77 m),"['Actor', 'Additional Crew']",0,Suits,"New York City, New York, USA",1970,1.77,0,0,USA
69,70,Esai Morales,1962-10-01,5′ 10″ (1.78 m),"['Actor', 'Director', 'Producer']",4 wins,La Bamba,"Brooklyn, New York, USA",1962,1.78,4,0,USA
70,71,Michelle Rodriguez,1978-07-12,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']",13 wins,Furious 7,"San Antonio, Texas, USA",1978,1.65,13,0,USA
71,72,Amanda Peterson,1971-07-08,5′ 4″ (1.63 m),['Actress'],1 win,Can't Buy Me Love,"Greeley, Colorado, USA",1971,1.63,1,0,USA
72,73,Sophia Lillis,2002-02-13,5′ (1.52 m),['Actress'],3 wins,It,"Brooklyn, New York City, New York, USA",2002,1.52,3,0,USA
73,74,Rachael Taylor,1984-07-11,5′ 7¾″ (1.72 m),"['Actress', 'Producer', 'Writer']",2 nominations,Transformers,"Launceston, Tasmania, Australia",1984,1.72,0,2,Australia
74,75,Lee Pace,1979-03-25,6′ 5″ (1.96 m),"['Actor', 'Soundtrack']","5 wins , 20 nominations total",Guardians of the Galaxy,"Chickasha, Oklahoma, USA",1979,1.96,5,20,USA
75,76,Miss Benny,1999-02-19,"5' 8""(1.73 m)","['Actress', 'Soundtrack']",0,Glamorous,"Dallas, Texas, USA",1999,1.73,0,0,USA
76,77,Annie Murphy,1986-12-19,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Writer']","7 wins , 15 nominations total",Schitt's Creek,"Ottawa, Ontario, Canada",1986,1.70,7,15,Canada
77,78,Christopher McQuarrie,1968-10-25,"5' 11""(1.80 m)","['Director', 'Producer', 'Writer']","10 wins , 17 nominations total",The Usual Suspects,"Princeton, New Jersey, USA",1968,1.80,10,17,USA
78,79,Emmanuelle Béart,1963-08-14,5′ 4¼″ (1.63 m),"['Actress', 'Soundtrack']",12 wins,8 Women,"Gassin, Var, France",1963,1.63,12,0,France
79,80,Ayo Edebiri,1995-10-03,"5' 6""(1.73 m)","['Actress', 'Producer', 'Writer']","3 wins , 13 nominations total",The Bear,"Boston, Massachusetts, USA",1995,1.73,3,13,USA
80,81,Isabel May,2000-11-21,5′ 9″ (1.75 m),['Actress'],1 nomination,1883,"Santa Monica, California, USA",2000,1.75,0,1,USA
81,82,Sofía Vergara,1972-07-10,5′ 7″ (1.70 m),"['Actress', 'Soundtrack', 'Producer']","11 wins , 46 nominations total",Hot Pursuit,"Barranquilla, Colombia",1972,1.70,11,46,Colombia
82,83,Hailee Steinfeld,1996-12-11,5′ 8½″ (1.74 m),"['Actress', 'Composer', 'Producer']","26 wins , 61 nominations total",True Grit,"Tarzana, Los Angeles, California, USA",1996,1.74,26,61,USA
83,84,Mira Sorvino,1967-09-28,5′ 9″ (1.75 m),"['Actress', 'Soundtrack', 'Producer']","18 wins , 22 nominations total",Mighty Aphrodite,"New York City, New York, USA",1967,1.75,18,22,USA
84,85,Matt Damon,1970-10-08,5′ 10″ (1.78 m),"['Actor', 'Producer', 'Writer']","37 wins , 154 nominations total",Good Will Hunting,"Boston, Massachusetts, USA",1970,1.78,37,154,USA
85,86,Robert Downey Jr.,1965-04-04,5′ 8″ (1.73 m),"['Actor', 'Producer', 'Writer']","43 wins , 122 nominations total",Iron Man,"Manhattan, New York City, New York, USA",1965,1.73,43,122,USA
86,87,Sarah Snook,1987-12-01,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Producer']","14 wins , 29 nominations total",Predestination,"Adelaide, South Australia, Australia",1987,1.65,14,29,Australia
87,88,Anya Taylor-Joy,1996-04-16,5′ 8″ (1.73 m),"['Actress', 'Soundtrack']","18 wins , 44 nominations total",The Queen's Gambit,"Miami, Florida, USA",1996,1.73,18,44,USA
88,89,Rose Byrne,1979-07-24,5′ 6¼″ (1.68 m),"['Actress', 'Soundtrack', 'Producer']","15 wins , 35 nominations total",Spy,"Balmain, Sydney, New South Wales, Australia",1979,1.68,15,35,Australia
89,90,Alexander Skarsgård,1976-08-25,6′ 4½″ (1.94 m),"['Actor', 'Director', 'Producer']","13 wins , 35 nominations total",The Legend of Tarzan,"Stockholm, Stockholms län, Sweden",1976,1.94,13,35,Sweden
90,91,Adam Driver,1983-11-19,6′ 2½″ (1.89 m),"['Actor', 'Soundtrack', 'Producer']","62 wins , 134 nominations total",Star Wars: Episode VII - The Force Awakens,"San Diego, California, USA",1983,1.89,62,134,USA
91,92,Kate Mara,1983-02-27,5′ 2″ (1.57 m),"['Actress', 'Soundtrack', 'Producer']","2 wins , 8 nominations total",Fantastic Four,"Bedford, New York, USA",1983,1.57,2,8,USA
92,93,Timothy Olyphant,1968-05-20,6′ (1.83 m),"['Actor', 'Soundtrack', 'Producer']","4 wins , 38 nominations total",Justified,"Honolulu, Hawaii, USA",1968,1.83,4,38,USA
93,94,Patrick J. Adams,1981-08-27,6′ (1.83 m),"['Actor', 'Director', 'Producer']",1 win,Suits,"Toronto, Ontario, Canada",1981,1.83,1,0,Canada
94,95,Lily-Rose Depp,1999-05-27,5′ 5″ (1.65 m),"['Actress', 'Soundtrack', 'Composer']",1 win,Tusk,"Neuilly-sur-Seine, Hauts-de-Seine, France",1999,1.65,1,0,France
95,96,Elizabeth Debicki,1990-08-24,6′ 2¾″ (1.90 m),"['Actress', 'Producer']","6 wins , 38 nominations total",The Great Gatsby,"Paris, France",1990,1.90,6,38,France
96,97,John Krasinski,1979-10-20,6′ 3″ (1.91 m),"['Actor', 'Director', 'Producer']","18 wins , 79 nominations total",Tom Clancy's Jack Ryan,"Newton, Massachusetts, USA",1979,1.91,18,79,USA
97,98,Idris Elba,1972-09-06,6′ 2½″ (1.89 m),"['Actor', 'Producer', 'Writer']","30 wins , 102 nominations total",Beasts of No Nation,"Hackney, London, England, UK",1972,1.89,30,102,UK
98,99,Chloë Grace Moretz,1997-02-10,5′ 4″ (1.63 m),"['Actress', 'Soundtrack', 'Producer']",28 wins,Kick-Ass,"Atlanta, Georgia, USA",1997,1.63,28,0,USA
99,100,Juno Temple,1989-07-21,5′ 2″ (1.57 m),"['Actress', 'Soundtrack']","6 wins , 19 nominations total",Atonement,"London, England, UK",1989,1.57,6,19,UK

In [110]:
dfa.to_csv('dados_tratados_IMDb.csv', index=False)



*   Criando um arquivo com os dados tratados para ser trabalhado o dashboard.